.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/Testing/Temporary/LastTest.log
./CMakeCache.txt
./CMakeLists.txt
CTestTestfile.cmake
googletest
CMakeFiles
build
bin
cmake_install.cmake
CMakeLists.txt
Makefile
test/assemblerTests
lib/libgtest.a
lib/libgtest_main.a
lib/libgmock.a
lib/libgmock_main.a
ecoli/ecoli-reference.fasta.gz
ecoli/ecoli-reads.fasta.gz
build/Testing/Temporary/LastTest.log
main.exe
googletest
CMakeLists.txt
CMakeCache.txt
*.fasta
*.gz
